<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog | Little Hearts, Big Dreams.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
    <!-- preloader -->
    <div th:insert="~{fragment.preloader :: preloader}"></div>

    <!-- header -->
    <div th:insert="~{fragment.header :: mainHeader}"></div>

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Blog Posts</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <!-- main content -->
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            <!-- query & filter display -->
                            <div th:if="${currentQuery != null or currentFilterDisplay != null}">
                                <p>
                                    Displaying results for
                                    <span th:if="${currentQuery != null and !#strings.isEmpty(currentQuery)}">
                                        <strong>"<span th:text="${currentQuery}"></span>"</strong>
                                    </span>
                                    <span th:if="${currentFilterDisplay != null and !#strings.isEmpty(currentFilterDisplay)}">
                                        filtered by <strong><span th:text="${currentFilterDisplay}"></span></strong>
                                    </span>
                                </p>
                            </div>

                            <!-- no posts found -->
                            <div th:unless="${not #lists.isEmpty(blogPosts)}">
                                <p>No posts found matching your criteria. Try a different search or filter.</p>
                            </div>

                            <!-- populate -->
                            <article class="blog_item" th:each="blogPost : ${blogPosts}">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" th:src="${blogPost.imageUrl}" alt="Blog Post Image">
                                    <!-- Blog date -->
                                    <a class="blog_item_date">
                                        <h3 th:text="${#temporals.format(blogPost.date, 'dd')}"></h3>
                                        <p th:text="${#temporals.format(blogPost.date, 'MMMM')}"></p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" th:href="@{/blogs/blog(id=${blogPost.getId()})}">
                                        <h2 class="blog-head" style="color: #2d2d2d;" th:text="${blogPost.getTitle()}"></h2>
                                    </a>
                                    <p th:text="${#strings.length(blogPost.description) > 150} ? ${#strings.substring(blogPost.description, 0, 150)} + '...' : ${blogPost.description}"></p>
                                    <ul class="blog-info-link">
                                        <li><a th:href="@{/blogs/blog(id=${blogPost.getId()})}"><i class="fa fa-user"></i>Campaign</a></li>
                                        <li><a th:href="@{/blogs/blog(id=${blogPost.getId()})}+'#comments'"><i class="fa fa-comments"></i><span th:text="${blogPost.getCommentsCount() + ' Comments'}"></span></a></li>
                                    </ul>
                                </div>
                            </article>

                            <!-- pagination -->
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <!-- previous page -->
                                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                        <a class="page-link" th:href="@{/blogs(page=${currentPage - 1}, query=${currentQuery}, filter=${currentFilter})}" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>

                                    <!-- page numbers -->
                                    <!-- First page -->
                                    <li class="page-item" th:if="${maxPage > 5 and currentPage > 3}" th:classappend="${1 == currentPage} ? 'active'">
                                        <a class="page-link" th:href="@{/blogs(page=1, query=${currentQuery}, filter=${currentFilter})}">1</a>
                                    </li>

                                    <!-- Ellipsis before current range -->
                                    <li class="page-item disabled" th:if="${maxPage > 5 and currentPage > 4}">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Middle range: currentPage - 2 to currentPage + 2 -->
                                    <li class="page-item"
                                        th:each="pageNumber : ${#numbers.sequence(1, maxPage)}"
                                        th:if="${(maxPage <= 5) or (pageNumber >= currentPage - 2 and pageNumber <= currentPage + 2)}"
                                        th:classappend="${pageNumber == currentPage} ? 'active'">
                                        <a class="page-link" th:href="@{/blogs(page=${pageNumber}, query=${currentQuery}, filter=${currentFilter})}"
                                        th:text="${pageNumber}"></a>
                                    </li>

                                    <!-- Ellipsis after current range -->
                                    <li class="page-item disabled" th:if="${maxPage > 5 and currentPage < maxPage - 3}">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Last page -->
                                    <li class="page-item" th:if="${maxPage > 5 and currentPage < maxPage - 2}" th:classappend="${maxPage == currentPage} ? 'active'">
                                        <a class="page-link" th:href="@{/blogs(page=${maxPage}, query=${currentQuery}, filter=${currentFilter})}"
                                        th:text="${maxPage}"></a>
                                    </li>

                                    <!-- next page -->
                                    <li class="page-item" th:classappend="${currentPage == maxPage} ? 'disabled'">
                                        <a class="page-link" th:href="@{/blogs(page=${currentPage + 1}, query=${currentQuery}, filter=${currentFilter})}" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- sidebar -->
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <!-- search -->
                            <aside class="single_sidebar_widget search_widget">
                                <form th:action="@{/blogs}" method="GET">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Search Keyword"
                                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'"
                                                name="query" th:value="${currentQuery}">
                                            <div class="input-group-append">
                                                <button class="btns" type="submit"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="filter" th:value="${currentFilter}">
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside>
                            <!-- filters -->
                            <aside class="single_sidebar_widget search_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Filter & Sort</h4>
                                <ul class="list-none cat-list">
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='')}" class="d-flex">
                                            <p>All</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='newest')}" class="d-flex">
                                            <p>Newest First</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='oldest')}" class="d-flex">
                                            <p>Oldest First</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='popular')}" class="d-flex">
                                            <p>Most Popular First</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='week')}" class="d-flex">
                                            <p>This Week</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='month')}" class="d-flex">
                                            <p>This Month</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='year')}" class="d-flex">
                                            <p>This Year</p>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <!-- recent posts -->                                
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Posts</h3>
                                <div class="media post_item" th:each="recentPost : ${recentPosts}">
                                    <img th:src="${recentPost.imageUrl}" alt="post" style="width: 90px; height: 90px; object-fit: cover;">
                                    <div class="media-body">
                                        <a th:href="@{/blogs/blog(id=${recentPost.getId()})}">
                                            <h3 style="color: #2d2d2d;" th:text="${recentPost.title}"></h3>
                                        </a>
                                        <p th:text="${recentPost.getTimeAgo()}"></p>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <div th:insert="~{fragment.footer :: footer}"></div>
    
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS HERE -->

    <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/assets/js/wow.min.js}"></script>
    <script th:src="@{/assets/js/animated.headline.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:src="@{/assets/js/gijgo.min.js}"></script>
    <!-- Nice-select, sticky -->
    <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/assets/js/jquery.sticky.js}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>
    <script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:src="@{/assets/js/contact.js}"></script>
    <script th:src="@{/assets/js/jquery.form.js}"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/mail-script.js}"></script>
    <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
    
    <!-- Jquery Plugins, main Jquery -->    
    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
