<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Post | Little Hearts, Big Dreams.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-xicon" th:href="@{/assets/img/favicon.ico}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>

<body>
    <!-- preloader -->
    <div th:insert="~{fragment.preloader :: preloader}"></div>
    
    <!-- header -->
    <div th:insert="~{fragment.header :: mainHeader}"></div>

    <!-- main content -->
    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-20 text-center">
                                <h2>Blog Details</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--? Blog Area Start -->
        <section class="blog_area single-post-area section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        <!-- basic blog info -->
                        <div class="single-post">
                            <!-- image -->
                            <div class="feature-img">
                                <img class="img-fluid" th:src="${blogPost.imageUrl}" alt="Blog Post Featured Image">
                            </div>
                            <div class="blog_details">
                                <!-- title -->
                                <h2 style="color: #2d2d2d;" th:text="${blogPost.title}"></h2>
                                <!-- useful info -->
                                <ul class="blog-info-link mt-3 mb-4">
                                    <li><a href="#"><i class="fa fa-user"></i>Campaign Blog</a></li>
                                    <li><a th:href="@{/blogs/blog(id=${blogPost.getId()})}+'#comments'"><i class="fa fa-comments"></i><span th:text="${blogPost.getCommentsCount() + ' Comments'}"></span></a></li>
                                </ul>
                                <!-- description -->
                                <p class="excert" th:text="${blogPost.description}" style="white-space: pre-wrap;"></p>
                            </div>
                        </div>

                        <div class="navigation-top">
                            <!-- display likes/social -->
                            <div class="d-sm-flex justify-content-between text-center">
                                <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4 people like this</p>
                                <div class="col-sm-4 text-center my-2 my-sm-0">
                                    <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                                </div>
                                <ul class="social-icons">
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>

                            <!-- previous post & next post switchers -->
                            <style>
                                .navigation-area .thumb img {
                                    width: 60px;
                                    height: 60px;
                                    object-fit: cover;
                                }
                            </style>
                            <div class="navigation-area">
                                <div class="row">
                                    <!-- Previous post container -->
                                    <div 
                                        class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center"
                                    >
                                        <div class="thumb" th:if="${previousPost != null}">
                                            <a th:href="@{/blogs/blog(id=${previousPost.id})}">
                                                <img class="img-fluid" th:src="${previousPost.imageUrl}" alt="Previous Post Thumbnail">
                                            </a>
                                        </div>
                                        <div class="arrow" th:if="${previousPost != null}">
                                            <a th:href="@{/blogs/blog(id=${previousPost.id})}">
                                                <span class="lnr text-white ti-arrow-left"></span>
                                            </a>
                                        </div>
                                        <div class="detials" th:if="${previousPost != null}">
                                            <p>Prev Post</p>
                                            <a th:href="@{/blogs/blog(id=${previousPost.id})}">
                                                <h4 class="text-gray-800" th:text="${previousPost.title}"></h4>
                                            </a>
                                        </div>
                                        <div th:unless="${previousPost != null}" class="w-full"></div>
                                    </div>
                                    <!-- Next post container -->
                                    <div
                                        class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center"
                                    >
                                        <div class="detials" th:if="${nextPost != null}">
                                            <p>Next Post</p>
                                            <a th:href="@{/blogs/blog(id=${nextPost.id})}">
                                                <h4 class="text-gray-800" th:text="${nextPost.title}"></h4>
                                            </a>
                                        </div>
                                        <div class="arrow" th:if="${nextPost != null}">
                                            <a th:href="@{/blogs/blog(id=${nextPost.id})}">
                                                <span class="lnr text-white ti-arrow-right"></span>
                                            </a>
                                        </div>
                                        <div class="thumb" th:if="${nextPost != null}">
                                            <a th:href="@{/blogs/blog(id=${nextPost.id})}">
                                                <img class="img-fluid" th:src="${nextPost.imageUrl}" alt="Next Post Thumbnail">
                                            </a>
                                        </div>
                                        <div th:unless="${nextPost != null}" class="w-full"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- blog author -->
                        <div class="blog-author">
                            <div class="media align-items-center">
                                <div class="d-flex align-items-center justify-content-center rounded-full text-white font-bold mr-5"
                                    style="width: 70px; height: 70px; background-color: #333333;">
                                    <span th:with="words=${#strings.arraySplit(blogPost.author.fullName, ' ')}"
                                        th:text="${blogPost.author != null ? (#strings.substring(words[0], 0, 1) + (#arrays.length(words) > 1 ? #strings.substring(words[#arrays.length(words) - 1], 0, 1) : '')) : '?'}">?</span>
                                </div>
                                <div class="media-body">
                                    <a th:href="@{/account(id=${blogPost.author.id})}">
                                        <h4 th:text="${blogPost.author.fullName}"></h4>
                                    </a>
                                    <p>Little Hearts, Big Dreams.</p>
                                </div>
                            </div>
                        </div>

                        <!-- comments section -->
                        <div id="comments"></div>

                        <!-- current account comment form -->
                        <div class="comment-form" th:if="${userPermissionService.hasPermission(session.account, T(com.khoi.lab.enums.UserPermission).CREATE_COMMENTS)}">
                            <h4>Leave a Comment</h4>
                            <form class="form-contact comment_form" th:action="@{/blogs/comment/post}" id="commentForm" method="POST">
                                <input type="hidden" name="id" th:value="${blogPost.id}">
                                <input type="hidden" name="commentId" id="commentId"> <!-- Hidden field for the comment ID -->
                                <!-- content -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-control w-100" name="content" id="content" cols="30" rows="9"
                                                    placeholder="Write Comment"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <!-- submit button -->
                                <div class="form-group">
                                    <button type="submit" class="button button-contactForm btn_1 boxed-btn" id="commentButton">Post Comment</button>
                                </div>
                            </form>
                        </div>

                        <!-- comments -->
                        <div class="comments-area">
                            <h4 th:text="${blogPost.getCommentsCount() + ' Comments'}"></h4>

                            <!-- populate -->
                            <div class="comment-list" th:each="comment : ${blogPost.comments}">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <!-- user image -->
                                        <div class="thumb">
                                            <div class="d-flex align-items-center justify-content-center rounded-full text-white font-bold"
                                                style="width: 70px; height: 70px; background-color: #333333; border-radius: 50%;">
                                                <!-- Display first and last initial of the full name using a more robust method -->
                                                <span th:with="words=${#strings.arraySplit(comment.account.fullName, ' ')}"
                                                    th:text="${comment.account != null ? (#strings.substring(words[0], 0, 1) + (#arrays.length(words) > 1 ? #strings.substring(words[#arrays.length(words) - 1], 0, 1) : '')) : '?'}">AB</span>
                                            </div>
                                        </div>
                                        <!-- description -->
                                        <div class="desc">
                                            <!-- comment content -->
                                            <p class="comment" th:text="${comment.content}" th:id="${'comment-content-' + comment.id}"></p>
                                            <!-- name and date -->
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <!-- name -->
                                                    <h5><a th:href="@{/account(id=${comment.account.id})}" th:text="${comment.account.fullName}"></a></h5>
                                                    <!-- date -->
                                                    <p class="date" th:text="${#temporals.format(comment.time, 'EEEE, MMM d, yyyy')}"></p>
                                                </div>
                                                <!-- action buttons -->
                                                <div class="reply-btn">
                                                    <a class="btn-reply text-uppercase"
                                                    th:if="${session.account != null and session.account.id == comment.account.id and userPermissionService.hasPermission(session.account, T(com.khoi.lab.enums.UserPermission).MANAGE_OWN_COMMENTS)}"
                                                    href="#comments"
                                                    th:data-comment-id="${comment.id}"
                                                    th:data-comment-content="${comment.content}"
                                                    onclick="editComment(this)">
                                                        edit
                                                    </a>
                                                </div>
                                                <div class="reply-btn">
                                                    <a class="btn-reply text-uppercase"
                                                    th:href="@{/blogs/comment/delete(comment=${comment.getId()})}"
                                                    th:if="${(userPermissionService.hasPermission(session.account, T(com.khoi.lab.enums.UserPermission).MANAGE_COMMENTS) or (session.account != null and session.account.id == comment.account.id and userPermissionService.hasPermission(session.account, T(com.khoi.lab.enums.UserPermission).MANAGE_OWN_COMMENTS)))}"
                                                    onclick="return confirm('Delete this comment?');">
                                                        delete
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- comment edit script -->
                        <script th:inline="javascript">
                            function editComment(element) {
                                // Retrieve values from the data attributes
                                const commentId = element.getAttribute('data-comment-id');
                                const commentContent = element.getAttribute('data-comment-content');

                                // Set the value of the textarea to the comment's content
                                document.getElementById('content').value = commentContent;

                                // Set the hidden input for the commentId
                                document.getElementById('commentId').value = commentId;

                                // Change the form action to the update endpoint
                                const commentForm = document.getElementById('commentForm');
                                commentForm.action = /*[[@{/blogs/comment/update}]]*/ '/blogs/comment/update';

                                // Change the button text
                                document.getElementById('commentButton').textContent = 'Update Comment';
                            }
                        </script>
                    </div>

                    <!-- sidebar -->
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <!-- recent posts -->                                
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Posts</h3>
                                <div class="media post_item" th:each="recentPost : ${recentPosts}">
                                    <img th:src="${recentPost.imageUrl}" alt="post" style="width: 90px; height: 90px; object-fit: cover;">
                                    <div class="media-body">
                                        <a th:href="@{/blogs/blog(id=${recentPost.getId()})}">
                                            <h3 style="color: #2d2d2d;" th:text="${recentPost.title}"></h3>
                                        </a>
                                        <p th:text="${recentPost.getTimeAgo()}"></p>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- footer -->
    <div th:insert="~{fragment.footer :: footer}"></div>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS HERE -->

    <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/assets/js/wow.min.js}"></script>
    <script th:src="@{/assets/js/animated.headline.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:src="@{/assets/js/gijgo.min.js}"></script>
    <!-- Nice-select, sticky -->
    <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/assets/js/jquery.sticky.js}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>
    <script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:src="@{/assets/js/contact.js}"></script>
    <script th:src="@{/assets/js/jquery.form.js}"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/mail-script.js}"></script>
    <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
    
    <!-- Jquery Plugins, main Jquery -->    
    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
