<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Blog | Little Hearts, Big Dreams.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicon.ico}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/assets/css/slick.css}">
    <link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
    <!--? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{/assets/img/logo/loder.png}" alt="Loading...">
                </div>
            </div>
        </div>
    </div>

    <!-- header -->
    <header>
        <div class="header-area">
            <div class="main-header">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <ul>    
                                        <li>Phone: +84 (0) 793 300 359</li>
                                        <li>Email: leqwoi@protonmail.com</li>
                                    </ul>
                                    <div class="header-social">    
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://web.facebook.com/ffhyme/"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://www.instagram.com/leqwoi/"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="https://github.com/fuwu99"><i class="fab fa-github"></i></a></li>
                                            <li><a href="https://leqwoi2.vercel.app/"><i class="fab fa-globe"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-info-right d-flex align-items-center">
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                                    <option value="">English</option>
                                                    <option value="">Vietnamese</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="contact-now">    
                                        <li><a th:href="@{/register}">Register Now!</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a th:href="@{/index}"><img th:src="@{/assets/img/logo/logo.png}" alt="Little Hearts, Big Dreams Logo"></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                                                                     
                                                <li><a th:href="@{/index}">Home</a></li>
                                                <li><a th:href="@{/about}">About</a></li>
                                                <li><a th:href="@{/campaigns}">Campaigns</a></li>
                                                <li><a th:href="@{/blogs}">Blogs</a></li>
                                                <li><a th:href="@{/contact}">Contact</a></li>

                                                <!-- account info dropdown -->
                                                <li th:if="${session.account}">
                                                    <a th:href="@{/account}" th:text="${session.account.getFullName()}"></a>
                                                    <ul class="submenu">
                                                        <li><a th:href="@{/account}">Edit Account</a></li>
                                                        <li><a th:href="@{/change-password}">Change Password</a></li>
                                                        <li><a th:href="@{/logout}">Log Out</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <div th:if="${session.account==null}">
                                            <a th:href="@{/login}" class="btn header-btn">Log In</a>
                                        </div>
                                        <div th:if="${session.account!=null and session.account.isAdmin()}">
                                            <a th:href="@{/admin/manage-accounts}" class="btn header-btn">Management</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
        <!--? Hero Start -->
        <div class="slider-area2">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 pt-70 text-center">
                                <h2>Blog Posts</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--? Blog Area Start-->
        <section class="blog_area section-padding">
            <div class="container">
                <div class="row">
                    <!-- main content -->
                    <div class="col-lg-8 mb-5 mb-lg-0">
                        <div class="blog_left_sidebar">
                            <!-- query & filter display -->
                            <div th:if="${currentQuery != null or currentFilterDisplay != null}">
                                <p>
                                    Displaying results for
                                    <span th:if="${currentQuery != null and !#strings.isEmpty(currentQuery)}">
                                        <strong>"<span th:text="${currentQuery}"></span>"</strong>
                                    </span>
                                    <span th:if="${currentFilterDisplay != null and !#strings.isEmpty(currentFilterDisplay)}">
                                        filtered by <strong><span th:text="${currentFilterDisplay}"></span></strong>
                                    </span>
                                </p>
                            </div>

                            <!-- no posts found -->
                            <div th:unless="${not #lists.isEmpty(blogPosts)}">
                                <p>No posts found matching your criteria. Try a different search or filter.</p>
                            </div>

                            <!-- populate -->
                            <article class="blog_item" th:each="blogPost : ${blogPosts}">
                                <div class="blog_item_img">
                                    <img class="card-img rounded-0" th:src="${blogPost.imageUrl}" alt="Blog Post Image">
                                    <!-- Blog date -->
                                    <a class="blog_item_date">
                                        <h3 th:text="${#temporals.format(blogPost.date, 'dd')}"></h3>
                                        <p th:text="${#temporals.format(blogPost.date, 'MMMM')}"></p>
                                    </a>
                                </div>
                                <div class="blog_details">
                                    <a class="d-inline-block" th:href="@{/blogs/blog(id=${blogPost.getId()})}">
                                        <h2 class="blog-head" style="color: #2d2d2d;" th:text="${blogPost.getTitle()}"></h2>
                                    </a>
                                    <p th:text="${#strings.length(blogPost.description) > 150} ? ${#strings.substring(blogPost.description, 0, 150)} + '...' : ${blogPost.description}"></p>
                                    <ul class="blog-info-link">
                                        <li><a th:href="@{/blogs/blog(id=${blogPost.getId()})}"><i class="fa fa-user"></i>Campaign</a></li>
                                        <li><a th:href="@{/blogs/blog(id=${blogPost.getId()})}+'#comments'"><i class="fa fa-comments"></i><span th:text="${blogPost.getCommentsCount() + ' Comments'}"></span></a></li>
                                    </ul>
                                </div>
                            </article>

                            <!-- pagination -->
                            <nav class="blog-pagination justify-content-center d-flex">
                                <ul class="pagination">
                                    <!-- previous page -->
                                    <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                        <a class="page-link" th:href="@{/blogs(page=${currentPage - 1}, query=${currentQuery}, filter=${currentFilter})}" aria-label="Previous">
                                            <i class="ti-angle-left"></i>
                                        </a>
                                    </li>

                                    <!-- page numbers -->
                                    <!-- First page -->
                                    <li class="page-item" th:if="${maxPage > 5 and currentPage > 3}" th:classappend="${1 == currentPage} ? 'active'">
                                        <a class="page-link" th:href="@{/blogs(page=1, query=${currentQuery}, filter=${currentFilter})}">1</a>
                                    </li>

                                    <!-- Ellipsis before current range -->
                                    <li class="page-item disabled" th:if="${maxPage > 5 and currentPage > 4}">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Middle range: currentPage - 2 to currentPage + 2 -->
                                    <li class="page-item"
                                        th:each="pageNumber : ${#numbers.sequence(1, maxPage)}"
                                        th:if="${(maxPage <= 5) or (pageNumber >= currentPage - 2 and pageNumber <= currentPage + 2)}"
                                        th:classappend="${pageNumber == currentPage} ? 'active'">
                                        <a class="page-link" th:href="@{/blogs(page=${pageNumber}, query=${currentQuery}, filter=${currentFilter})}"
                                        th:text="${pageNumber}"></a>
                                    </li>

                                    <!-- Ellipsis after current range -->
                                    <li class="page-item disabled" th:if="${maxPage > 5 and currentPage < maxPage - 3}">
                                        <span class="page-link">...</span>
                                    </li>

                                    <!-- Last page -->
                                    <li class="page-item" th:if="${maxPage > 5 and currentPage < maxPage - 2}" th:classappend="${maxPage == currentPage} ? 'active'">
                                        <a class="page-link" th:href="@{/blogs(page=${maxPage}, query=${currentQuery}, filter=${currentFilter})}"
                                        th:text="${maxPage}"></a>
                                    </li>

                                    <!-- next page -->
                                    <li class="page-item" th:classappend="${currentPage == maxPage} ? 'disabled'">
                                        <a class="page-link" th:href="@{/blogs(page=${currentPage + 1}, query=${currentQuery}, filter=${currentFilter})}" aria-label="Next">
                                            <i class="ti-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- sidebar -->
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <!-- search -->
                            <aside class="single_sidebar_widget search_widget">
                                <form th:action="@{/blogs}" method="GET">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Search Keyword"
                                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'"
                                                name="query" th:value="${currentQuery}">
                                            <div class="input-group-append">
                                                <button class="btns" type="submit"><i class="ti-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="filter" th:value="${currentFilter}">
                                    <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                        type="submit">Search</button>
                                </form>
                            </aside>
                            <!-- filters -->
                            <aside class="single_sidebar_widget search_widget">
                                <h4 class="widget_title" style="color: #2d2d2d;">Filter & Sort</h4>
                                <ul class="list-none cat-list">
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='')}" class="d-flex">
                                            <p>All</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='newest')}" class="d-flex">
                                            <p>Newest First</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='oldest')}" class="d-flex">
                                            <p>Oldest First</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='popular')}" class="d-flex">
                                            <p>Most Popular First</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='week')}" class="d-flex">
                                            <p>This Week</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='month')}" class="d-flex">
                                            <p>This Month</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{/blogs(query=${currentQuery}, filter='year')}" class="d-flex">
                                            <p>This Year</p>
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <!-- recent posts -->                                
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title" style="color: #2d2d2d;">Recent Posts</h3>
                                <div class="media post_item" th:each="recentPost : ${recentPosts}">
                                    <img th:src="${recentPost.imageUrl}" alt="post" style="width: 90px; height: 90px; object-fit: cover;">
                                    <div class="media-body">
                                        <a th:href="@{/blogs/blog(id=${recentPost.getId()})}">
                                            <h3 style="color: #2d2d2d;" th:text="${recentPost.title}"></h3>
                                        </a>
                                        <p th:text="${recentPost.getTimeAgo()}"></p>
                                    </div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-wrapper" style="background-color: #1f1f1f;">
            <!-- Footer Top-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <div class="footer-logo mb-20">
                                        <a th:href="@{/index}"><img th:src="@{/assets/img/logo/logo2_footer.png}" alt="Footer Logo"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Info</h4>
                                    <ul>
                                        <li>
                                            <p>Address: Gia Lam, Ha Noi, Viet Nam</p>
                                        </li>
                                        <li><a href="tel:+84793300359">Phone: +84 793 300 359</a></li>
                                        <li><a href="mailto:leqwoi@protonmail.com">Email: leqwoi@protonmail.com</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Important Links</h4>
                                    <ul>
                                        <li><a th:href="@{/about}">About Us</a></li>
                                        <li><a th:href="@{/contact}">Contact Us</a></li>
                                        <li><a th:href="@{/index#testimonial}">Testimonial</a></li>
                                        <li><a th:href="@{/campaigns}">Campaigns</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Newsletter</h4>
                                    <div class="footer-pera footer-pera2">
                                        <p>Subscribe to our newsletter to receive campaign updates!</p>
                                    </div>
                                    <!-- Form -->
                                    <div class="footer-form" >
                                        <div id="mc_embed_signup">
                                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                            method="get" class="subscribe_form relative mail_part">
                                                <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                                class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                                onblur="this.placeholder = ' Email Address '">
                                                <div class="form-icon">
                                                    <button type="submit" name="submit" id="newsletter-submit"
                                                    class="email_icon newsletter-submit button-contactForm"><img th:src="@{/assets/img/gallery/form.png}" alt="Subscribe"></button>
                                                </div>
                                                <div class="mt-10 info"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;<span th:text="${#temporals.format(T(java.time.LocalDateTime).now(), 'yyyy')}"></span> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3">
                                <div class="footer-social f-right">
                                    <a href="https://web.facebook.com/ffhyme/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://leqwoi2.vercel.app/"><i class="fas fa-globe"></i></a>
                                    <a href="https://www.instagram.com/leqwoi/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS HERE -->

    <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/assets/js/wow.min.js}"></script>
    <script th:src="@{/assets/js/animated.headline.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:src="@{/assets/js/gijgo.min.js}"></script>
    <!-- Nice-select, sticky -->
    <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/assets/js/jquery.sticky.js}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>
    <script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:src="@{/assets/js/contact.js}"></script>
    <script th:src="@{/assets/js/jquery.form.js}"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/mail-script.js}"></script>
    <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
    
    <!-- Jquery Plugins, main Jquery -->    
    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
</body>
</html>
