<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Little Hearts, Big Dreams.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">

	<!-- CSS here -->
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/owl.carousel.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/assets/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/assets/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/assets/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/animated-headline.css}">
	<link rel="stylesheet" th:href="@{/assets/css/magnific-popup.css}">
	<link rel="stylesheet" th:href="@{/assets/css/fontawesome-all.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/themify-icons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/slick.css}">
	<link rel="stylesheet" th:href="@{/assets/css/nice-select.css}">
	<link rel="stylesheet" th:href="@{/assets/css/style.css}">
</head>
<body>
    <!-- Loader -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{/assets/img/logo/loder.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <ul>     
                                        <li>Phone: +84 (0) 793 300 359</li>
                                        <li>Email: leqwoi@protonmail.com</li>
                                    </ul>
                                    <div class="header-social">    
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="https://web.facebook.com/ffhyme/"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://www.instagram.com/leqwoi/"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="https://github.com/fuwu99"><i class="fab fa-github"></i></a></li>
                                            <li><a href="https://leqwoi2.vercel.app/"><i class="fab fa-globe"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-info-right d-flex align-items-center">
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                                    <option value="">English</option>
                                                    <option value="">Vietnamese</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="contact-now">     
                                        <li><a href="/register">Register Now!</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/index"><img th:src="@{/assets/img/logo/logo.png}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="/index">Home</a></li>
                                                <li><a href="/about">About</a></li>
                                                <li><a href="/campaigns">Campaigns</a></li>
                                                <li><a href="/contact">Contact</a></li>

                                                <!-- account info dropdown -->
                                                <li th:if="${session.account}">
                                                    <a href="/edit-account" th:text="${session.account.getFullName()}"></a>
                                                    <ul class="submenu">
                                                        <li><a href="/edit-account">Edit Account</a></li>
                                                        <li><a href="/change-password">Change Password</a></li>
                                                        <li><a href="/logout">Log Out</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <div th:if="${session.account==null}">
                                            <a href="/login" class="btn header-btn">Log In</a>
                                        </div>
                                        <div th:if="${session.account!=null and session.account.isAdmin()}">
                                            <a href="/admin/manage-accounts" class="btn header-btn">Management</a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!-- Title -->
        <div class="slider-area">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Trái Tim nhỏ<br> Giấc Mơ lớn.</h1>
                                    <P data-animation="fadeInUp" data-delay=".8s" >Lòng hảo tâm của bạn hôm nay sẽ xây dựng tương lai cho các em. Hãy cùng chúng tôi trao cho các em cơ hội để trưởng thành và phát triển.</P>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="/campaigns" class="btn hero-btn mb-10"  data-animation="fadeInLeft" data-delay=".8s">Donate</a>
                                        <a href="tel:+84793300359" class="cal-btn ml-15" data-animation="fadeInRight" data-delay="1.0s">
                                            <i class="flaticon-null"></i>
                                            <p>+84 793 300 359</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mission -->
        <div class="service-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <!-- Section Title -->
                        <div class="section-tittle text-center mb-80">
                            <span>Điều chúng tôi làm</span>
                            <h2>Lòng tốt của bạn hôm nay sẽ xây dựng tương lai cho các em.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-null-1"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services">Hỗ trợ y tế</a></h5>
                                <p>Giúp trẻ em nhận được sự điều trị y tế khẩn cấp và dịch vụ chăm sóc cứu sống mà các em và gia đình không thể tự chi trả.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat active text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-think"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services">Tiếp cận giáo dục</a></h5>
                                <p>Tạo cơ hội cho trẻ em được học tập, phát triển và tạo dựng tương lai tốt đẹp hơn cho bản thân và gia đình.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-gear"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services">Dinh dưỡng & Bữa ăn</a></h5>
                                <p>Đảm bảo mọi trẻ em đều được tiếp cận với thực phẩm bổ dưỡng để trẻ có thể khỏe mạnh và phát triển mỗi ngày.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-->
        <section class="about-low-area section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-10">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span>Về tổ chức của chúng tôi</span>
                                <h2>Trái Tim Nhỏ, Ước Mơ Lớn.</h2>
                            </div>
                            <p>Chúng tôi tin rằng mọi đứa trẻ đều xứng đáng có cơ hội được lớn lên, học hỏi và nuôi dưỡng những ước mơ không giới hạn. Sứ mệnh của chúng tôi là hỗ trợ những trẻ em có hoàn cảnh khó khăn được chăm sóc y tế kịp thời, giáo dục và dinh dưỡng đầy đủ để các em có thể xây dựng một tương lai tươi sáng hơn.</p>
                            <p>Hãy đồng hành cùng chúng tôi để biến những hành động nhỏ của lòng nhân ái thành cơ hội thay đổi cuộc đời cho các em nhỏ trên khắp đất nước.</p>
                        </div>
                        <a href="/about" class="btn">Về Chúng Tôi</a>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img d-none d-lg-block">
                                <img th:src="@{/assets/img/gallery/about2.png}" alt="">
                            </div>
                            <div class="about-back-img">
                                <img th:src="@{/assets/img/gallery/about1.png}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Campaigns -->
        <div class="our-cases-area section-padding30">
            <div class="container">
                <!-- title -->
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <div class="section-tittle text-center mb-80">
                            <span>Những trường hợp cần giúp đỡ</span>
                            <h2>Khám phá các chiến dịch quyên góp đang diễn ra</h2>
                        </div>
                    </div>
                </div>
                <!-- campaigns -->
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6" th:each="campaign : ${campaigns}">
                        <div class="single-cases mb-40">
                            <div class="cases-img">
                                <img th:src="${campaign.getImageUrl()}" alt="">
                            </div>
                            <div class="cases-caption">
                                <!-- redirect to campaign page -->
                                <h3><a th:href="@{/campaigns/campaign(id=${campaign.getId()})}" th:text="${campaign.getName()}"></a></h3>
                                <!-- progresss bar -->
                                <div class="single-skill mb-15">
                                    <div id="bar1" class="bar-progress">
                                        <div class="barfiller">
                                            <div class="tipWrap">
                                                <span class="tip"></span>
                                            </div>
                                            <span 
                                                class="fill"
                                                th:attr="data-percentage=${campaign.getDonatedPercentageCapped()}">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- / progress -->
                                <div class="prices d-flex justify-content-between">
                                    <p>Raised:
                                        <span th:text="${#numbers.formatDecimal(campaign.getDonatedAmount(), 0, 'COMMA', 0, 'POINT') + '₫'}"></span>
                                    </p>
                                    <p>Goal:
                                        <span th:text="${#numbers.formatDecimal(campaign.getGoal(), 0, 'COMMA', 0, 'POINT') + '₫'}"></span>
                                    </p>
                                </div>
                                <!-- Details and Donate buttons -->
                                <div class="mb-3 d-flex justify-content-between px-3">
                                    <a th:href="@{/campaigns/campaign(id=${campaign.getId()})}" class="btn btn-success btn-sm mr-2">Details</a>
                                    <a th:href="@{/campaigns/donate(id=${campaign.getId()})}" class="btn btn-success btn-sm" th:if="${campaign.getStatus().name()=='OPEN' and campaign.getStatus().name()=='COMPLETE'}">Donate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- see more button -->
                <div class="row d-flex justify-content-center">
                    <a href="/campaigns" class="btn">Xem Nhiều Hơn</a>
                </div>
            </div>
        </div>
        <!-- Team -->
        <div class="team-area pt-160 pb-160">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 text-center mb-70">
                            <span>Những gì chúng tôi đang làm</span>
                            <h2>Đội ngũ tình nguyện viên luôn sẵn sàng</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 mx-auto">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img th:src="@{/assets/img/gallery/khoi1.png}" alt="">
                                <!-- Blog Social -->
                                <ul class="team-social">
                                    <li><a href="https://web.facebook.com/ffhyme/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.instagram.com/leqwoi/"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="https://github.com/fuwu99"><i class="fab fa-github"></i></a></li>
                                    <li><a href="https://leqwoi2.vercel.app/"><i class="fas fa-globe"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-caption">
                                <h3><a href="instructor">Le Minh Khoi</a></h3>
                                <p>Volunteer leader, Web Maintainer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials -->
        <div class="testimonial-area testimonial-padding" id="testimonial">
            <div class="container">
                <!-- Testimonial contents -->
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-8 col-lg-8 col-md-10">
                        <div class="h1-testimonial-active dot-style">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption">
                                    <!-- founder -->
                                    <div class="testimonial-founder">
                                        <div class="founder-img mb-40">
                                            <img th:src="@{/assets/img/gallery/testimonial.png}" alt="">
                                            <span>Cháng Thị Hà</span>
                                            <p>Người nhận hỗ trợ</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Nhờ sự giúp đỡ của mọi người, em đã được phẫu thuật kịp thời và sức khỏe đã tốt hơn rất nhiều. Em và gia đình xin cảm ơn tấm lòng của tất cả các cô chú, anh chị!”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption">
                                    <!-- founder -->
                                    <div class="testimonial-founder">
                                        <div class="founder-img mb-40">
                                            <img th:src="@{/assets/img/gallery/testimonial.png}" alt="">
                                            <span>Minh Đăng</span>
                                            <p>Người nhận hỗ trợ</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Cảm ơn mọi người đã cho con cơ hội được tiếp tục sống và học tập như bao bạn khác. Gia đình con biết ơn mọi người rất nhiều!”</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption">
                                    <!-- founder -->
                                    <div class="testimonial-founder">
                                        <div class="founder-img mb-40">
                                            <img th:src="@{/assets/img/gallery/testimonial.png}" alt="">
                                            <span>Y Sáng Buôn Dap</span>
                                            <p>Người nhận hỗ trợ</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“Gia đình con rất khó khăn, nhưng nhờ sự hỗ trợ, con đã được phẫu thuật tim và khỏe mạnh trở lại. Chúng con xin cảm ơn tấm lòng nhân ái của tất cả mọi người!”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Stats -->
        <div class="count-down-area pt-25" style="background-color: #09cc7e;">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="count-down-wrapper" >
                            <div class="row justify-content-between">
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- Counter Up -->
                                    <div class="single-counter text-center">
                                        <span class="counter color-green">6,200</span>
                                        <span class="plus">+</span>
                                        <p class="color-green">Donation</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- Counter Up -->
                                    <div class="single-counter text-center">
                                        <span class="counter color-green">80</span>
                                        <span class="plus">+</span>
                                        <p class="color-green">Fund Raised</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- Counter Up -->
                                    <div class="single-counter text-center">
                                        <span class="counter color-green">256</span>
                                        <span class="plus">+</span>
                                        <p class="color-green">Donation</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6">
                                    <!-- Counter Up -->
                                    <div class="single-counter text-center">
                                        <span class="counter color-green">256</span>
                                        <span class="plus">+</span>
                                        <p class="color-green">Donation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-wrapper" style="background-color: #1f1f1f;">
            <!-- Footer Top-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <div class="footer-logo mb-20">
                                        <a href="index"><img th:src="@{/assets/img/logo/logo2_footer.png}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Info</h4>
                                    <ul>
                                        <li>
                                            <p>Address: Gia Lam, Ha Noi, Viet Nam</p>
                                        </li>
                                        <li><a href="tel:+84793300359">Phone: +84 793 300 359</a></li>
                                        <li><a href="mailto:leqwoi@protonmail.com">Email: leqwoi@protonmail.com</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Important Links</h4>
                                    <ul>
                                        <li><a href="/about">About Us</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="/index#testimonial">Testimonial</a></li>
                                        <li><a href="/campaigns">Campaigns</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Newsletter</h4>
                                    <div class="footer-pera footer-pera2">
                                    <p>Subscribe to our newsletter to receive campaign updates!</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form" >
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                        method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                            class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                class="email_icon newsletter-submit button-contactForm"><img th:src="@{/assets/img/gallery/form.png}" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3">
                                <div class="footer-social f-right">
                                    <a href="https://web.facebook.com/ffhyme/"><i class="fab fa-facebook-f"></i></a>
                                    <a href="https://leqwoi2.vercel.app/"><i class="fas fa-globe"></i></a>
                                    <a href="https://www.instagram.com/leqwoi/"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- To Top button -->
    <div id="back-top" >
        <a title="Go to Top" href="#"><i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script th:src="@{/assets/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/assets/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/assets/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/assets/js/owl.carousel.min.js}"></script>
    <script th:src="@{/assets/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/assets/js/wow.min.js}"></script>
    <script th:src="@{/assets/js/animated.headline.js}"></script>
    <script th:src="@{/assets/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:src="@{/assets/js/gijgo.min.js}"></script>
    <!-- Nice-select, sticky -->
    <script th:src="@{/assets/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/assets/js/jquery.sticky.js}"></script>
    <!-- Progress -->
    <script th:src="@{/assets/js/jquery.barfiller.js}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script th:src="@{/assets/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>
    <script th:src="@{/assets/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:src="@{/assets/js/contact.js}"></script>
    <script th:src="@{/assets/js/jquery.form.js}"></script>
    <script th:src="@{/assets/js/jquery.validate.min.js}"></script>
    <script th:src="@{/assets/js/mail-script.js}"></script>
    <script th:src="@{/assets/js/jquery.ajaxchimp.min.js}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script th:src="@{/assets/js/plugins.js}"></script>
    <script th:src="@{/assets/js/main.js}"></script>
    </body>
</html>